<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" href="../../css/public.css"/>
    <link rel="stylesheet" href="../../css/style.css"/>
</head>
<body>
<!--头部-->
<header class="publicHeader">
    <h1>超市账单管理系统</h1>

    <div class="publicHeaderR">
        <p><span>下午好！</span><span style="color: #fff21b" th:text="${session.username}"> Admin</span> , 欢迎你！</p>
        <a href="/index">退出</a>
    </div>
</header>
<!--时间-->
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
    <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li id="active"><a href="/showbill">账单管理</a></li>
                <li><a href="/showProvider">供应商管理</a></li>
                <li><a href="/password">密码修改</a></li>
                <li><a href="/index">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>账单管理页面 >> 订单添加页面</span>
        </div>
        <div class="providerAdd">
            <form action="/billupdate" method="get">
                <input type="hidden" name="id" th:value="${bill.id}"/>
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="providerId">订单编号：</label>
                    <input type="text" name="billcode" id="providerId" th:value="${bill.billcode}"/>
                    <span>*</span>
                </div>
                <div>
                    <label for="providerName">商品名称：</label>
                    <input type="text" name="productname" id="providerName" th:value="${bill.productname}"/>
                    <span>*</span>
                </div>
                <div>
                    <label for="people">商品单位：</label>
                    <input type="text" name="productunit" id="people" th:value="${bill.productunit}"/>
                    <span>*</span>

                </div>
                <div>
                    <label for="phone">商品数量：</label>
                    <input type="text" name="productcount" id="phone" th:value="${bill.productcount}"/>
                    <span>*</span>
                </div>
                <div>
                    <label for="address">总金额：</label>
                    <input type="text" name="totalprice" id="address" th:value="${bill.totalprice}"/>
                    <span>*</span>
                </div>
                <div>
                    <label for="fax">供应商：</label>
                    <input type="text" name="proname" id="fax" th:value="${bill.proname}"/>
                    <span>*</span>
                </div>
                <div>
                    <label>是否付款：</label>

                    <select name="ispayment">
                        <option value="1" th:selected="${bill.ispayment}==1">未付款</option>
                        <option value="2" th:selected="${bill.ispayment}==2">已付款</option>
                    </select>
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="billList.html">返回</a>-->
                    <input type="submit" value="保存"/>
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer">
    版权归多人成行
</footer>
<script src="../../js/time.js"></script>

</body>
</html>