<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" href="../../css/public.css"/>
    <link rel="stylesheet" href="../../css/style.css"/>
</head>
<body>
<!--头部-->
<header class="publicHeader">
    <h1>超市账单管理系统</h1>

    <div class="publicHeaderR">
        <p><span>下午好！</span><span style="color: #fff21b" th:text="${session.username}"> Admin</span> , 欢迎你！</p>
        <a href="/index">退出</a>
    </div>
</header>
<!--时间-->
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
    <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li><a href="/showbill">账单管理</a></li>
                <li id="active"><a href="/showProvider">供应商管理</a></li>
                <li><a href="/password">密码修改</a></li>
                <li><a href="/index">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>供应商管理页面</span>
        </div>
        <div class="search">
            <form action="/showProvider" method="get">
                <span>供应商名称：</span>
                <input type="text" name="name" th:value="${name}" placeholder="请输入供应商的名称"/>
                <input type="submit" value="查询"/>
                <a href="/addView">添加供应商</a>
            </form>
        </div>
        <!--供应商操作表格-->
        <table class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="10%">供应商编码</th>
                <th width="20%">供应商名称</th>
                <th width="10%">联系人</th>
                <th width="10%">联系电话</th>
                <th width="10%">传真</th>
                <th width="10%">创建时间</th>
                <th width="30%">操作</th>
            </tr>
            <tr th:each="provider:${pageInfo.list}">
                <td th:text="${provider.procode}">PRO-CODE—001</td>
                <td th:text="${provider.proname}">测试供应商001</td>
                <td th:text="${provider.procontact}">韩露</td>
                <td th:text="${provider.prophone}">15918230478</td>
                <td th:text="${provider.profax}">15918230478</td>
                <td th:text="${#dates.format(provider.creationdate,'yyyy年MM月dd日')}">15918230478</td>
                <td>
                    <a href="/viewProvider" th:href="@{/viewProvider(id=${provider.id})}"><img src="../../images/read.png" alt="查看" title="查看"/></a>
                    <a href="providerUpdate.html" th:href="@{/UpdateView(id=${provider.id})}"><img src="../../images/xiugai.png" alt="修改" title="修改"/></a>
                    <a href="javascript:void(0)" class="removeProvider" th:onclick="|javascript:a('${provider.id}')|"><img src="../../images/schu.png" alt="删除" title="删除"/></a>
                </td>
            </tr>

        </table>
        <div>
            共<span th:text="${pageInfo.total}">4</span>条记录，<span th:text="${pageInfo.pageNum}">1</span>/<span th:text="${pageInfo.pages}">4</span>
            <a th:if="${pageInfo.pageNum}==1" href="javascript:void(0)">上一页</a>
            <a href="#" th:if="${pageInfo.pageNum}!=1" th:href="@{/showProvider(pageNum=${pageInfo.pageNum}-1,name=${name})}">上一页</a>
            <span th:each="i:${#numbers.sequence(1,pageInfo.pages)}">
                <a th:href="@{/showProvider(pageNum=${i},name=${name})}" th:text="${i}">1</a>
            </span>
            <a href="#" th:if="${pageInfo.pageNum}!=${pageInfo.pages}" th:href="@{/showProvider(pageNum=${pageInfo.pageNum}+1,name=${name})}">下一页</a>
            <a th:if="${pageInfo.pageNum}==${pageInfo.pages}" href="javascript:void(0)">下一页</a>
        </div>
    </div>
</section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<div class="remove" id="removeProv">
    <div class="removerChid">
        <h2>提示</h2>
        <div class="removeMain" >
            <p>你确定要删除该供应商吗？</p>
            <a href="javascript:void(0)" id="yes" th:onclick="|javascript:b()|">确定</a>
            <a href="#" id="no">取消</a>
        </div>
    </div>
</div>


<footer class="footer">
    版权归千锋教育
</footer>

<script src="../../js/jquery.js"></script>
<script src="../../js/js.js"></script>
<script src="../../js/time.js"></script>
<script type="text/javascript">
    var ids;
    function a(id){
        ids=id;
    }
    function b(){
        window.location.href="/deleteProvider?id="+ids;
    }


</script>

</body>
</html>